.idea/

Controller/devel/
Controller/build/
Controller/.catkin_workspace
Controller/src/build/
Controller/src/install/
Controller/src/log/
Controller/src/build_ros2/
Controller/src/install_ros2/
Controller/src/log_ros2/

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/
Simulator/src/build/
Simulator/src/install/
Simulator/src/log/
Simulator/src/build_ros2/
Simulator/src/install_ros2/
Simulator/src/log_ros2/

build/
install/
log/
.ros_logs/
super_ws/build/
super_ws/install/
super_ws/log/

YOPO/saved/*
dataset/
yopo_sim/

!YOPO/saved/YOPO_1/